<ion-header>
  <ion-toolbar>
    <ion-title>
      Meldingen
    </ion-title>
  </ion-toolbar>
</ion-header>
<NetworkComponent></NetworkComponent>
<ion-content padding>
  <ion-button expand="block" (click)="loadIntakeMoments()">Refresh lijst</ion-button>

  <ion-list>
    <ion-item *ngFor="let notification of notifications;" (click)="openIntakeMoment(notification)">
      <ion-label text-wrap>
        {{ notification.receiver_id.name}}
        <p>{{ notification.remark }}</p>
        <p>{{ notification.intake_start_time.substring(0, 10) }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
