.connected, .not-connected{
    background-repeat: no-repeat;
    background-size: contain;
}

.connected{
    background-image: url('./../../assets/icon/connected.png');
}

.not-connected{
    background-image: url('./../../assets/icon/notconnected.png');
}