<ion-header>
  <ion-toolbar>
    <ion-title>
      Groepen
    </ion-title>
  </ion-toolbar>
</ion-header>
<NetworkComponent></NetworkComponent>

<ion-content>
  <ion-list *ngFor="let group of groups; let i = index;" class="accordion-list" no-padding>
<ion-item tappable (click)="toggleGroup(i)" [ngClass]="{'section-active': group.open, 'section': !group.open}">
  <ion-label>
    {{group.name}}
  </ion-label>
  <ion-icon slot="end" name="arrow-dropright" *ngIf="!group.open"></ion-icon>
  <ion-icon slot="end" name="arrow-dropdown" *ngIf="group.open"></ion-icon>
</ion-item>

    <div *ngIf="group.receivers && group.open">
      <ion-list>
        <div *ngFor="let receiver of group.receivers" class="child-list">
          <ion-item tappable (click)="viewIntakeMoments(receiver.id)">
            <ion-label>
              {{receiver.name}}
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </div>

    <p *ngIf="group.receivers.length == 0 && group.open" text-center>Deze groep heeft geen ontvangers</p>
  </ion-list>
</ion-content>
