<ion-tabs >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Meldingen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="people"></ion-icon>
      <ion-label>Ontvangers</ion-label>
    </ion-tab-button>
	
	<ion-tab-button tab="tab4">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profiel</ion-label>
    </ion-tab-button>
  <div>
    <ion-icon [ngClass]="{
      'connected': connected,
      'not-connected': !connected
    }"></ion-icon>
  </div>
  </ion-tab-bar>

</ion-tabs>
