[class^="connected"]{
    background-repeat: no-repeat;
    background-size: contain;
}

.connectedtrue{
    background-image: url('./../../../assets/icon/connected.png');
}

.connectedfalse{
    background-image: url('./../../../assets/icon/notconnected.png');
}