[class^="connected"]{
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 50px;
    min-height: 30px;
}

.connectedtrue{
    background-image: url('./../../../assets/icon/connected.png');
}

.connectedfalse{
    background-image: url('./../../../assets/icon/notconnected.png');
}