<ion-header>
  <ion-toolbar>
    <ion-title>
      Meldingen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" (click)="scheduleNotification()">Gepland</ion-button>
  <ion-button expand="block" (click)="recurringNotification()">Elke Minuut</ion-button>
  <ion-button expand="block" (click)="repeatingDaily()">Dagelijks</ion-button>
  <ion-button expand="block" (click)="getAll()">Alle Meldingen</ion-button>

<ion-list>
  <ion-list *ngFor="let n of scheduled">
    <ion-label text-wrap>
      {{ n.id }} - {{ n.title}}
      <p>Trigger: {{ n.trigger | json }}</p>
    </ion-label>
  </ion-list>
</ion-list>

</ion-content>
