ion-title.title-md.hydrated {
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

#timeIndicator {
  width: 100%;
  height: 2px;
  position: relative;
  background: red;
}

