.network{
  background-color: red;
  width: 100%;
  text-align: center;
  color:white;
  font-weight: bold;
  line-height: 1.5;
}


.networkoff{
  transition: height 1s;
  height: 22px;
}

.networkon{
  transition: height 1s;
  height: 0px;
}
